[includeIf "gitdir:~/Development/mekari/"]
  path = ~/.gitconfig-mekari
[includeIf "gitdir:~/Development/personal/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/Development/getboon/"]
  path = ~/.gitconfig-boon
[includeIf "gitdir:~/Development/azifex/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/Development/afikrim/"]
  path = ~/.gitconfig-personal

[url "git@github.com"]
	insteadOf = https://github.com
[user]
	name = Aziz Fikri Mahmudi
	email = afikrim10@gmail.com

[diff]
	tool = nvimdiff
[core]
	editor = nvim
[merge]
	tool = nvimdiff2
[gpg]
	program = gpg
