[submodule ".zsh/plugins/zsh-nvm"]
	path = .zsh/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm.git
[submodule ".zsh/plugins/zsh-completions"]
	path = .zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".zsh/plugins/zsh-autosuggestions"]
	path = .zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".zsh/plugins/zsh-history-substring-search"]
	path = .zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule ".zsh/plugins/zsh-syntax-highlighting"]
	path = .zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/plugins/dotbare"]
	path = .zsh/plugins/dotbare
	url = https://github.com/kazhala/dotbare.git
[submodule ".zsh/plugins/ssh-tunnel"]
	path = .zsh/plugins/ssh-tunnel
	url = https://github.com/afikrim/zsh-ssh-tunnel.git
[submodule ".tmux/oh-my-tmux"]
	path = .tmux/oh-my-tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule ".tmux/plugins/tmux-continuum"]
  path =.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule ".tmux/plugins/tmux-resurrect"]
  path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule ".tmux/plugins/tokyo-night-tmux"]
  path =.tmux/plugins/tokyo-night-tmux
	url = https://github.com/janoamaral/tokyo-night-tmux.git
[submodule ".tmux/plugins/tpm"]
  path =.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
